@import "variables.scss";

.section-promotions{
    @include section();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    &__card{
        background-color: $color-bg-main;
        width: 550px;
        display: flex;
       
        gap: 1em; 
        align-items: center;
        min-height: 215px;
        padding: 2em;
    }
}

.card{
    &__container{
        display: flex;
        flex-direction: column;
        gap: .5em;
        color: $color-font-white;
    
        &--img{
            width: 165px;
            height: 100%;
            border:  2px  solid $color-btn-main;
            border-radius: 50%;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    &__h5{
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: 700;
    }

    &__span{
        font-size: 4.0rem;
        line-height: 1.2;
        font-weight: 700;
    }

    &__h6{
        font-size: 1.6rem;
        line-height: 1.2;
        font-weight: 700;
    }
}

@media screen and (min-width: 1000px) {

    .nav{
        max-width: 1040px;
        right: 50%;
        transform: translateX(50%);

        &__ul--desktop{
            padding: 0;
            display: flex;
            flex-direction: row;
        }

        &__icon--menu{
            display: none;
        }

        &__icon--user{
            display: block;
        }
    }
}