$color-font-white: #ffffff;
$color-font-black: #1f1f1f;
$color-font-yellow: #ffbe33;
$color-btn-main: #ffbe33;
$color-bg-main: #222831;
$color-bg-secondary:#f1f2f3;


$font-text: "Open Sans", sans-serif;
$font-heading: 'Dancing Script', cursive;
